/* Buttons */
.btn {
    appearance: none;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--color-grey);
    color: white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 0.62rem 2.2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

.btn:hover {
    background-color: transparent;
    color: var(--color-primary);
}

@each $key, $value in $colors {
    .btn--#{$key} {
        background-color: var(--color-#{$key});
        color: auto-color($value);
    }
}
