@import 'tokens/tokens';
@import 'tokens/scale';
@import 'functions/*';

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    color: var(--color-black);
    font-family: var(--font-base);
    font-size: var(--step-0);
    padding: var(--size-4);
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
    --flow-space: var(--size-3);
    margin-top: var(--flow-space);
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Disabled Element */
[disabled] {
    cursor: not-allowed;
    opacity: 0.8;
}

/* Hidden Element */
[hidden] {
    display: none !important;
}

/* Accessible hidden elements, good for labels and such */
.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    font-family: var(--font-heading, var(--font-base));
    font-weight: 700;
    line-height: 1;
    margin: 0;
}

h1,
.h1 {
    font-size: var(--step-5);
}

h2,
.h2 {
    font-size: var(--step-4);
}

h3,
.h3 {
    font-size: var(--step-3);
}

h4,
.h4 {
    font-size: var(--step-2);
}

@import 'components/*.scss';
@import 'utilities/*.scss';
